body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #faf8fb;
  text-align: center;
}
header {
  background-image: url("ai.jpg");
  color: white;
  padding: 50px 20px;
  background-size: cover;
  background-position: center;
}
header h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}
header p {
  font-size: 1.2rem;
  margin-bottom: 30px;
}
.action-button {
  padding: 10px 20px;
  background-color: #f4f4f4;
  border: 2px solid black;
  border-radius: 9px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.action-button:hover {
  background-color: rgb(195, 190, 197);
}
.features {
  display: flex;
  justify-content: center;
  padding: 20px;
}
.feature {
  margin: 10px;
  padding: 20px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.feature:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.235);
}
footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px 0;
}
